---
// const { code = '', lang = 'html', filename = '' } = Astro.props;
---

<div class="preview-wrapper">
  <span class="preview-span">Preview</span>
  <div class="preview-render">
    <slot />
  </div>

  <!-- <div class="preview-code">
    {filename && <div class="filename">{filename}</div>}
    <pre><code class={lang}>{code}</code></pre>
  </div> -->
</div>

<style slot="">
  .preview-wrapper {
    position: relative;
    display: grid;
    gap: 0.75rem;
    color: #000;
    overflow: hidden;
  }
  .preview-span {
    padding: 0.4rem;
    position: absolute;
    top: -0.1rem;
    border-radius: 6px 0px 0 0px;
    background-color: var(--sl-color-bg-nav);
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  .preview-render {
    padding: 2.4rem 1rem 1rem 1rem;
    border-radius: 6px;
    background: #f8f9faf6;
    color: #000;
  }

  .preview-code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', 'Segoe UI Mono', monospace;
    background: #0b1220;
    border-radius: 6px;
    padding: 0.5rem;
    color: #000;

    overflow: auto;
    border: 1px solid rgba(255, 255, 255, 0.06);
  }

  .filename {
    font-size: 0.75rem;
    color: #9ca3af;
    margin-bottom: 0.25rem;
  }

  pre {
    margin: 0;
    color: #000;
  }

  .preview-render,
  .preview-render * {
    color: #000 !important;
  }
</style>
